local.properties

keystore/
players/
target/
project/target/
src/main/assets/reader/
src/main/assets/license/
src/main/assets/font/
src/main/assets/README*
uitest/bin/

*.class
*.so
*.apk
*.o

wasuramoti-android-*/
wasuramoti-android-*.zip

scripts/vorbis_decoder_test/out/
