local.properties

keystore/
players/
target/
project/target/
src/main/assets/reader/
src/main/assets/license/
src/main/assets/README*
src/main/obj/
uitest/bin/

*.class
*.so
*.apk
*.o
*.lo
*.la

src/main/jni/libogg-*/Makefile
src/main/jni/libogg-*/include/Makefile
src/main/jni/libogg-*/include/ogg/Makefile
src/main/jni/libogg-*/src/Makefile
src/main/jni/libogg-*/doc/Makefile
src/main/jni/libogg-*/doc/libogg/Makefile
src/main/jni/libogg-*/config.h
src/main/jni/libogg-*/config.log
src/main/jni/libogg-*/config.status
src/main/jni/libogg-*/include/ogg/config_types.h
src/main/jni/libogg-*/libtool
src/main/jni/libogg-*/stamp-h1

src/main/jni/libogg-*/*.pc
src/main/jni/libogg-*/src/.deps/*
src/main/jni/libogg-*/src/.libs/*
src/main/jni/libogg-*/src/test_*

wasuramoti-android-*/
wasuramoti-android-*.zip
