<manifest 
xmlns:android="http://schemas.android.com/apk/res/android"
package="karuta.hpnpwd.wasuramoti" android:installLocation="auto"
android:versionName="0.8.20" android:versionCode="58" >
    <supports-screens android:largeScreens="true" android:xlargeScreens="true" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19" ></uses-sdk>
    <application android:icon="@drawable/animals_dolphin" android:label="@string/app_name" android:hardwareAccelerated="false">
        <receiver android:name=".NotifyTimerReceiver" />
        <receiver android:name=".KarutaPlayReceiver" />
        <!-- In order to use startActivityForResult, launchMode must not be settled to singleInstance -->
        <activity android:launchMode="singleTask" android:label="@string/app_name" android:name=".WasuramotiActivity" 
          android:configChanges="keyboardHidden" android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="wasuramoti" android:host="*" />
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name=".ConfActivity" android:configChanges="orientation|keyboardHidden"/>
        <activity android:launchMode="singleTop" android:name=".NotifyTimerActivity" android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="stateHidden"/>
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
