<manifest 
xmlns:android="http://schemas.android.com/apk/res/android"
package="karuta.hpnpwd.wasuramoti" android:installLocation="auto"
android:versionName="1.1.8" android:versionCode="92" >
    <supports-screens android:largeScreens="true" android:xlargeScreens="true" />
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="26" ></uses-sdk>
    <application
      android:icon="@drawable/eto_hitsuji_otoshidama"
      android:theme="@style/Wasuramoti.MainTheme.Black"
      android:label="@string/app_name"
      android:hardwareAccelerated="true"
      android:resizeableActivity="true"
      >
        <receiver android:name=".NotifyTimerReceiver" />
        <!-- In order to use startActivityForResult, launchMode must not be set to singleInstance -->
        <activity 
          android:name=".WasuramotiActivity" 
          android:theme="@style/Wasuramoti.MainTheme.Black"
          android:launchMode="singleTask" 
          android:configChanges="keyboardHidden"
          android:label="@string/app_name"
          >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="wasuramoti" android:host="*" />
            </intent-filter>
        </activity>
        <activity
          android:name=".PrefActivity"
          android:theme="@style/Wasuramoti.PrefTheme.Black"
          android:launchMode="singleTop"
          android:configChanges="keyboardHidden"
          />
        <activity
          android:name=".NotifyTimerActivity"
          android:theme="@style/Wasuramoti.MainTheme.Black"
          android:launchMode="singleTop"
          android:configChanges="keyboardHidden"
          android:windowSoftInputMode="stateHidden"
          />

        <!-- see http://developer.android.com/reference/android/support/v4/content/FileProvider.html -->
        <provider
          android:name="android.support.v4.content.FileProvider"
          android:authorities="karuta.hpnpwd.wasuramoti.fileprovider"
          android:exported="false"
          android:grantUriPermissions="true">
          <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_provider_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
